@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>School District Database</h1>
    <p class="lead">An app to control a database for a school district. Designed specifically with the user experience in mind, it is simple, easy, and convenient to use.</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>View Schools</h3>
        <p style="text-align: center">Here, you can create, edit, and delete a school. You can also view all schools in the database.</p>
        <p style="display: flex; justify-content: center;"><a class="btn btn-default" href="~/School" >Go to Schools &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>View Teachers</h3>
        <p style="text-align: center">Here, you can create, edit, and delete a teacher. You can also view all teachers in the database, as well as see a list of all the classes they teach.</p>
        <p style="display: flex; justify-content: center;"><a class="btn btn-default" href="~/Teacher">Go to Teachers &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>View Students</h3>
        <p style="text-align: center">Here, you can create, edit, and delete a student. You can also view all students in the database, as well as see a list of all the classes they are enrolled in.</p>
        <p style="display: flex; justify-content: center;"><a class="btn btn-default" href="~/Student">Go to Students &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>View Classes</h3>
        <p style="text-align: center">Here, you can create, edit, and delete a class. You can also view a class's roster, add students to a class's roster, and remove students from classes.</p>
        <p style="display: flex; justify-content: center;"><a class="btn btn-default" href="~/Class">Go to Classes &raquo;</a></p>
    </div>
</div>